<div class="card mb-4 shadow-sm h-100">
    <img [src]="product.imageUrl" class="card-img-top embed-responsive-item bg-light" alt="{{product.name}}">
    <div class="card-body d-flex flex-column">
        <h6 class="card-text">{{product.name}}</h6>
        <span class="mt-2">{{product.price | currency}}</span>
        <div class="btn-group mt-auto">
            <button type="button" class="btn btn-sm btn-outline-secondary fa fa-cart-plus mr-2"></button>
            <button type="button" class="btn btn-sm btn-outline-secondary"
                routerLink="/shop/{{product.id}}">view</button>
        </div>
    </div>
</div>